*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(45deg, #38a3a5, #99d98c)
}
.cards_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.card{
    width: 245px;
    height: 342px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-style: preserve-3d;
}

.card:hover{
    transform: scale(1.1)
}

.card:nth-child(1){
    background-image: url(images/SM10_PT-BR_70.png);
}

.card:nth-child(2){
    background-image: url(images/SWSHP_PT-BR_SWSH291.png);
}

.card:nth-child(3){
    background-image: url(images/SWSH6_PT-BR_112.png);
}